---
title: Horem Dolem | Třaskavá směs
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Třaskavá směs</h1>
					  
					  <p class="lead">Frontman Třaskavé směsi František&nbsp;Skála disponující hlasem českého Toma&nbsp;Waitse, přednese své autorské písně za doprovodu výtvarníka Petra&nbsp;Nikla na bisernici (nejmenší kytara) a&nbsp;bicí nástroje. Kontrabasu se ujímá mistr Petr&nbsp;Tichý, elektrickou kytaru, violu a&nbsp;violoncello hraje geniální Miroslav&nbsp;Černý z&nbsp;Provodova. Těšit se můžete na směs skladeb od rock&nbsp;and&nbsp;rollu po písňové balady. Koncert na Horem Dolem je v rámci přípravy na možné vystoupení v&nbsp;O2&nbsp;aréně a&nbsp;následného světového turné.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/traskava-smes.jpg" alt="Generic placeholder image">
				  </div>
				
				<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/1_q_KHQPIXA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
				
			</div>
		</div>
	</div>
	
</main>