---
title: Horem Dolem | Clifton v blázinci
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Clifton v blázinci</h1>
   				      <a href="https://www.facebook.com/LeonCliftonDetektiv" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
   				      <a href="https://www.youtube.com/channel/UCdcF4KPjQkliongtRLo9Hrw/videos" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  
					  <p class="lead">detektivní komedie, ČR/USA, 2021, 28 min.</p>
					  <p class="lead">Geniální detektiv Léon Clifton je postrach zločinců, mistr převleků a&nbsp;je hezký. Policejní komisařka Sarah Brighitová proto pátrá po šíleném vrahovi, který ohrožuje bohaté občany Chicaga, právě s&nbsp;ním. Jeden z&nbsp;nejpopulárnějších českých literárních braků 20.&nbsp;století v&nbsp;současném filmovém provedení dvou neznámých autorských herců, kteří hrají všechny postavy.</p>
					  <p class="lead m-0">Hrají: Václav&nbsp;Zimmermann, Bára&nbsp;Purmová</p>
					  <p class="lead m-0">Vypravěč: Jiří&nbsp;Lábus</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/clifton.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/73qvXW1SrW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			
			</div>
		</div>
	</div>
	
</main>