---
title: Horem Dolem | O provodovské krajině s Janem Talašem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">O&nbsp;provodovské krajině s&nbsp;Janem Talašem</h1>
					  
					  
					  <p class="lead">Poznejte krajinu Horem&nbsp;Dolem. Jan&nbsp;Talaš z&nbsp;Provodova vás provede místním terénem a&nbsp;poví vám nejen o&nbsp;zdejší historii a&nbsp;současnosti, ale zejména o&nbsp;floře a&nbsp; fauně a&nbsp;obnovování zdejší ovocnářské tradice. Vystudoval obor Krajinářství na Mendelově univerzitě v Brně, postavil na Provodově sušírnu ovoce, v současné době staví další a&nbsp;spolupodílí se na výsadbě obecního sadu původními starými odrůdami ovocných stromů. O&nbsp;místní krajině toho ví opravdu hodně. Přijďte se přesvědčit sami. Sraz je v&nbsp;neděli v&nbsp;11:30 u&nbsp;ohniště.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto pb-5" src="fotky/ucinkujici/jan-talas.jpg" alt="O provodovské krajině s Janem Talašem účinkující Horem Dolem 2021">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>