---
title: Horem Dolem | Animované filmy Pavly Baštanové
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Animované filmy Pavly&nbsp;Baštanové</h1>
					  
					  <a href="https://pavlabastanova.tumblr.com/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  
					  <p class="lead">Tři animované filmy Pavly Baštanové, které vytvořila na Univerzitě Tomáše&nbsp;Bati ve Zlíně a&nbsp;na UMPRUM v&nbsp;Praze. Mezi stromy je příběhem dvou lišek a&nbsp;metaforou na hledání, nalezení a&nbsp;uchování lásky. Neumím plavat je krátkou sondou do pocitů člověka trpícího schizofrenií. Mukumů svébytně popisuje severskou krajinu a&nbsp;život v&nbsp;ní. Všechny tři filmy spojuje technika kreslené animace a&nbsp;autorčin zájem o&nbsp;přírodu a&nbsp;mezilidské vztahy.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto pb-5" src="fotky/ucinkujici/animak-i-cant-swim.jpg" alt="animovaný film Mezi stromy účinkující Horem Dolem 2021">
				  
					<img class="featurette-image img-fluid mx-auto pb-5" src="fotky/ucinkujici/animak-mezi-stromy.jpg" alt="animovaný film Mezi stromy účinkující Horem Dolem 2021">
				 
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/animak-mukumu.jpg" alt="animovaný film Mukumu účinkující Horem Dolem 2021">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>