---
title: Horem Dolem | Martin Přichystal
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Martin Přichystal (solo)</h1>
					  
					  <p class="lead">Mladý harmonikář Martin&nbsp;Přichystal z&nbsp;malebné obce Čechy pod Kosířem a&nbsp;vítěz divácké soutěže XIII.&nbsp;setkání harmonikářů v&nbsp;Kojetíně nabídne virtuózní hru na pianovou harmoniku.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/martin-prichystal.jpg" alt="Martin Přichystal účinkující Horem Dolem 2021">
				  </div>
			</div>
		</div>
	</div>
	
</main>