---
title: Horem Dolem | Výstava Land art
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Výstava: Land art</h1>
					  
					  
					  <p class="lead">Do festivalu Horem&nbsp;Dolem se také zapojí studentky Katedry Výtvarné Výchovy PdF Univerzity Palackého v&nbsp;Olomouci Tereza&nbsp;Tomanová, Pavlína&nbsp;Košáková a&nbsp;Hana&nbsp;Kůrková, které vytvoří sérii land-artových instalací.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto pb-5" src="fotky/ucinkujici/land-art.jpg" alt="Výstava Land art účinkující Horem Dolem 2021">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>