---
title: Horem Dolem | Přes HRAnice
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Přes HRAnice</h1>

					  <a href="http://www.preshranice.cz/inscenace.php/" target="_blank" class="btn btn-social-icon"><span class="fa pt-0"><p class="m-0">www</p></span></a>
					  
					  <p class="lead m-0">1939, Británie.</p>
					  <p class="lead m-0">Malé vlakové nádraží.</p>
					  <p class="lead m-0">Hana, devítiletá židovská dívka, čeká</p>
					  <p class="lead m-0">/aniž by to věděla/</p>
					  <p class="lead m-0">na své nové rodiče a&nbsp;na svůj nový život.</p>
					  <p class="lead">V cizí zemi, kde nikdo nemluví jejím jazykem, kde jí nikdo nerozumí…</p>
					  <p class="lead">Před druhou světovou válkou tisíce (nejčastěji) židovských dětí opustilo svůj domov, rodinu a&nbsp;přátele, aby byly uchráněny před útlakem Nacistů. Někteří rodiče si mohli vybrat mezi dvěma zly: poslat své děti daleko za hranice, opustit je, ale pravděpodobně je tak zachránit, a&nbsp;nebo je ohrozit tím, že zůstanou? Děti odeslané do bezpečí si často ani neuvědomovaly, co pro ně cesta bude znamenat. Drtivá většina z&nbsp;nich své pravé rodiče již nikdy neviděla.</p>
					  <p class="lead m-0">Doporučený věk: 8+</p>
					  <p class="lead m-0">Délka: 30&nbsp;min + možnost diskuze</p>
					  <p class="lead m-0">Představení je vhodné i&nbsp;pro multilingvní publikum</p>
					  <p class="lead">(je záměrně hráno v&nbsp;českém jazyce i&nbsp;pro diváky, kteří česky nerozumí)</p>
					  <p class="lead m-0">Vytvořila a&nbsp;hraje: Michaela&nbsp;Váňová</p>
					  <p class="lead m-0">Hudbu složil: David&nbsp;Hlaváč</p>
					  <p class="lead">Premiéra: 8.&nbsp;prosince 2017 Portland, Oregon (USA)</p>
					
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/pres-hranice.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				
			</div>
		</div>
	</div>
	
</main>