---
title: Horem Dolem | Jevištní spolupráce s Jáchymem Sůrou
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Workshop: Sladká nevědomost s&nbsp;Láďou Kardou</h1>
					  
					  
					  <p class="lead">Workshop divadelní improvizace, kde si zkusíte, jaké to je nemít věci pod kontrolou a&nbsp;získáte schopnost z&nbsp;vaší nevědomosti ještě vytěžit, naučit se jí mít rád, ochočit si jí a&nbsp;naučit se s&nbsp;ní žít. Tahle hodina a&nbsp;půl změní váš život. </p>
					  <p class="lead">Workshop je určen pro 10 lidí. Chcete-li se ho účastnit, přihlaste se přes <a href="https://docs.google.com/forms/d/e/1FAIpQLScjFB4p_rRzX7-qEcdV_u__uZfmsFy-irsO3gPsAAsevVwIdw/viewform" target="blank" class="text-danger">folmulář</a>.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto pb-5" src="fotky/ucinkujici/ws-improvizace2.jpg" alt="workshop Sladká nevědomost s Láďou Kardou účinkující Horem Dolem 2021">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>