---
title: Horem Dolem | Good Mood DJ
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Good Mood DJ</h1>
					  
   				      <a href="https://www.facebook.com/SursumCordaTune" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">"Vrchní" hudební mood maker pražského Studia&nbsp;Alta přiveze svůj svěží, letní Djset taneční hudby všech žánrů a&nbsp;hloubky Soulu, Funku, Hip&nbsp;hopu, Reggae i&nbsp;třeba Disca...
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/dj.jpg" alt="Generic placeholder image">
				  </div>
				
				</div>
				
			
		</div>
	</div>
	
</main>