---
title: Horem Dolem | Huso
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Bartleby</h1>
					  
					  <a href="http://www.bartleby.cz/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="http://www.facebook.com/bartlebycz" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/@bartleby5168" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="http://www.instagram.com/bartlebycz" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  <a href="https://open.spotify.com/artist/2Ey0qmVEB7S0W5R3mc99D9?si=Lmgee_guQ0i2DMDJmwZ2Eg" target="_blank" class="btn btn-social-icon"><span class="fa fa-spotify"></span></a>
					  

					  <p class="lead">Z jamu mistra republiky ve slam&nbsp;poetry TCKR a&nbsp;kontrabasisty Jakuba&nbsp;Nožičky (ex&nbsp;-&nbsp;Ponk) v&nbsp;uherskohradišťské kavárně vznikl projekt Bartleby. Inspirace povídkou Hermana&nbsp;Melvilla dobře koresponduje s&nbsp;aktuálním děním ve světě. Bartleby reflektují dobu sebeklamu, snahu o&nbsp;vytváření falešné identity a&nbsp;hodnot. Dvojice pracuje se satirou a&nbsp;parodií, i&nbsp;pozitivní texty obsahují v&nbsp;jejich podání ostny. Snaží se však nacházet cestu z&nbsp;bludiště klamu ven, negativa naznačují možná východiska.</p>
					  <p class="lead">Album #happiness svým zvukem neklouže po trendech, originálně kombinuje rap s&nbsp;cimbálem, kapela staví na vlastních pravidlech a&nbsp;výrazném textovém rukopisu.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici-2023/bartleby.jpg" alt="Horem Dolem 2023 Bartleby">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/7tLfOHHBc4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>