---
title: Horem Dolem | Huso
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Hihihahaholky</h1>
					  
					  <a href="https://www.facebook.com/profile.php?id=100090689601291" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.instagram.com/hihihahaholky/" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>

					  <p class="lead">Dvě holky ze srdce od srdce ze života od života holek dvou jou!
					  <p class="lead">Alternativně - rapově- hudebně - poeticky - melodicky - disharmonicky performativní duo Aleny&nbsp;Novotné a&nbsp;Štěpánky&nbsp;Todorové, které řeší life, girls and boys, life, problems a&nbsp;dobrej swag.</p>
					  <p class="lead">Autorské duo: Štěpánka&nbsp;Todorová, Alena&nbsp;Novotná</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici-2023/hihihahaholky.jpg" alt="Horem Dolem 2023 Hihihahaholky">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>