---
title: Horem Dolem | Huso
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Huso</h1>
					  
					  <a href="http://www.huso.cz/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="https://www.facebook.com/kapelahuso" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Dvojčlenná hudební smršť. MgA.&nbsp;Tom&nbsp;Hubáček (harmonika) a&nbsp;MgA.&nbsp;Kuba&nbsp;Soldán (klarinet) hrají a&nbsp;zpívají veselé písně o&nbsp;zvířátkách, dopravních nehodách a&nbsp;o&nbsp;tom, jak se nakonec všichni dobře poměli.</p>
					  <p class="lead">Součástí koncertu bývají také muzikologické experimenty jako interaktivní sázková píseň či vůbec nejkratší píseň světa. HUSO o&nbsp;sobě prohlašuje, že hraje R’N’B (Rychle’N’Brutálně), ve skutečnosti se však jedná o&nbsp;prostý umcaprc.</p>
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici-2023/huso.jpg" alt="Horem Dolem 2023 Huso">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Pxj2uPgEGGI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>