---
title: Horem Dolem | Aktuality – Přispějte na Donio
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Jsme na Doniu!</h1>
					  <p class="lead"><a href="https://www.donio.cz/horemdolem" target="_blank">www.donio.cz/horemdolem</a></p>
					  <p class="lead">Začátkem dubna jsme na Facebooku sdíleli, že se něco chystá.  Zajímá vás, co by to tak v&nbsp;době covidů a&nbsp;pandemií mohlo být? Jo, další ročník Horem Dolem! </p>
					  <p class="lead">S&nbsp;přípravami jsme začali už po Vánocích, vymýšleli jsme program, oslovovali účinkující a&nbsp;hlavně: vytvořili jsme projekt na platformě Donio, díky kterému by pro nás mohly být přípravy a&nbsp;průběh festivalu o&nbsp;něco jednodušší. Nebudeme chodit kolem horké kaše, takový festival není jen pivo a&nbsp;pohoda, ale také kupa výdajů. Sice nás každý rok finančně podporuje obec, provodovský UnArt i&nbsp;spousta sponzorů a&nbsp;my si jejich podpory moc vážíme, ale výdaje nám občas přerůstaly přes hlavu a&nbsp;nedařilo se nám dostat z&nbsp;mínusových čísel. Celý festival pořádáme od začátku pro radost a&nbsp;nechceme na něm nijak vydělávat, ale rádi bychom si po zaplacení faktur něco schovali na další ročníky. </p>
					  <p class="lead">Připravili jsme tedy projekt, který nám může pomoci udělat festival o&nbsp;něco lepší. Rádi bychom festival uspořádali bez vstupného a&nbsp;tím jej přiblížili více návštěvníkům. I&nbsp;proto budeme potřebovat Vaši pomoc už teď. </p>
					  <p class="lead">Na <a href="https://www.donio.cz/horemdolem" target="_blank">www.donio.cz/horemdolem</a> jsme připravili odměny, jejichž zakoupením nám pomůžete Horem Dolem uspořádat a&nbsp;trochu vylepšit. Kromě merche (trička, plátěnky, placky) tam najdete i&nbsp;zážitky, třeba hledání pokladu v&nbsp;provodovských lesích a&nbsp;mnoho dalšího. </p>
					  <p class="lead">A&nbsp;co se stane, kdybychom kvůli epidemiologickým opatřením nemohli festival uspořádat? </p>
					  <p class="lead">Založili jsme transparentní účet, na kterém všechny finance počkají do příštího roku. Věříme, že začátkem července už bude situace pro malé festivaly příznivá, ale samozřejmě počítáme s&nbsp;každým scénářem. Všechny zakoupené odměny rozešleme a&nbsp;ty nehmotné můžete případně zažít příští rok. </p>
					  <p class="lead">Budeme moc rádi, když se náš projekt rozhodnete podpořit a&nbsp;těšíme se, že Vás 3.&nbsp;a&nbsp;4.&nbsp;července uvidíme na Horem Dolem 2021! </p>
				
				</div>
			</div>
			
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/gL7BwGFmg98" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			
	</div>
	
</main>