---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	
	<div class="container pt-5">
		
		<h1 class="text-center pt-5 pb-5">AKTUALITY</h1>
		
		<div class="card-group">
			
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="card">
						<img src="fotky/aktuality/donio.jpg" class="card-img-top" alt="...">
							<div class="card-body">
									<h5 class="card-title">Podpořte nás</h5>
									<p class="card-text">Letos chceme festival zadarmo, ale úplně bez peněz to nepůjde. Podpořte nás na Doniu a možná dostanete něco naoplátku. A to se vyplatí!</p>
									<p class="card-text"><small class="text-muted"><span class="fa fa-map-pin"></span> 12. dubna 2021</small></p>
								<a href="/aktuality-1"><button type="button" class="btn btn-danger"><h5>Více</h5></button></a>
							</div>
					</div>
				</div>
			
				<div class="col-md-4 col-sm-12">
					<div class="card">
						<img src="fotky/aktuality/pripravujeme.jpg" class="card-img-top" alt="...">
							<div class="card-body">
									<h5 class="card-title">Něco se chystá</h5>
									<p class="card-text">Sledujte nás, ať Vám nic neunike!</p>
									<p class="card-text"><small class="text-muted"></span> 5. dubna 2021</small></p>
							</div>
					</div>
				</div>
			</div>
			
			
			  
		</div>
		
	</div>
</main>