---
title: Horem Dolem | Fotogalerie
layout: layouts/HD.njk
---
<main>
<div class="lightbox-gallery">
	
    <div class="container pt-5 pb-5">
		
        <h1 class="text-center pt-5 pb-5">FOTOGALERIE</h1>
		
        <div class="row">
			
            <div class="col-sm-6 col-md-4 item pb-4">
				<a href="/fotogalerie-2021">
					<div class="overlay">
						<div class="overlay-img">
							<img class="img-fluid" src="fotky/2021/1.jpg" alt="fotky horem dolem 2021">
							<h1 class="centered text-white">2021</h1>
						</div>
					</div>
				</a>
			</div>
			
            <div class="col-sm-6 col-md-4 item pb-4">
				<a href="/fotogalerie-2019">
					<div class="overlay">
						<div class="overlay-img">
							<img class="img-fluid" src="fotky/2019/2019-18.jpg" alt="fotky horem dolem 2019">
							<h1 class="centered text-white">2019</h1>
						</div>
					</div>
				</a>
			</div>
			<!--
            <div class="col-sm-6 col-md-4 item pb-4">
				<a href="hd-fotky/IMG_2906.JPG">
					<div class="overlay">
						<div class="overlay-img">
							<img class="img-fluid" src="hd-fotky/IMG_2756.JPG" alt="...">
							<h1 class="centered text-white">2017</h1>
						</div>
					</div>
				</a>
			</div>
			
            <div class="col-sm-6 col-md-4 item pb-4">
				<a href="hd-fotky/IMG_2906.JPG">
					<div class="overlay">
						<div class="overlay-img">
							<img class="img-fluid" src="hd-fotky/IMG_2900.JPG" alt="...">
							<h1 class="centered text-white">2014</h1>
						</div>
					</div>
				</a>
			</div>
			
            <div class="col-sm-6 col-md-4 item pb-4">
				<a href="hd-fotky/IMG_2906.JPG">
					<div class="overlay">
						<div class="overlay-img">
							<img class="img-fluid" src="hd-fotky/IMG_2873.JPG" alt="...">
							<h1 class="centered text-white">2013</h1>
						</div>
					</div>
				</a>
			</div>
			-->
        </div>
		
    </div>
	
</div>
</main>