---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	
<!-- uvod na mobilu -->
	<div class="d-block d-lg-none">
	<div class="container">
		<div class="s-height">
		<div class="img">
		<img src="fotky/grafika/kruhy-red.png" class="center" alt=""/>
		</div>
		<div class="text-center  pt-5">
			<h4 class="text-dark">HOREM DOLEM</h4>
			<h4 class="text-dark">3.–4. 7. 2021</h4>
			<h4>Provodov</h4>
		</div>
			</div>
	</div>
	</div>
<!-- uvod na mobilu -->
	
<!-- uvod na PC -->
	<div class="d-none d-lg-block">
		  <div id="carouselExampleFade" class="carousel slide carousel-fade pb-5" data-ride="carousel">
		    
		<div class="carousel-inner" role="listbox">
			 
	    <div class="carousel-item carousel-item-height active" style="background-image: url('fotky/slide/prvni.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			  <div class="carousel-item carousel-item-height" style="background-image: url('hd-fotky/uvodka2.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			  <div class="carousel-item carousel-item-height" style="background-image: url('hd-fotky/uvodka3.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
			</div>
	  </div>
		
	<!-- prouzek -->
		<div class="container">
			<div class="text-center pb-5">
				<h5 class="text-danger">Multižánrový festival pro všechny generace, který proběhne 3.–4. 7. 2021 na Provodově.</h5>
			</div>
		</div>
	<!-- prouzek -->
	</div>
<!-- uvod na pc -->
			
			
<!-- aktuality -->	
	<div class="bg-light">
	  <div class="container pt-5 pb-5 bg-light">
		<h1 class="text-center pt-5 pb-5">AKTUALITY</h1>
		<div class="card-group pb-5">
		  <div class="card">
			<img src="fotky/aktuality/donio.png" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Donio</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			  <p class="card-text"><small class="text-muted">1. března 2021</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="obrázky/thom.jpg" class="card-img-top" alt="">
			<div class="card-body">
			  <h5 class="card-title">Známe první účinkující!</h5>
			  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			  <p class="card-text"><small class="text-muted">28. února 2021</small></p>
			</div>
		  </div>
		  <div class="card">
			<img src="obrázky/mucha.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Card title</h5>
			  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		  </div>
		</div>
		  
		  <div class="d-flex justify-content-center p-5">
			<a href="HD-web-aktuality.html">
				<button type="button" class="btn btn-danger"><h5>Další aktuality</h5></button>
			</a>
		</div>
		  
	  </div>
	  </div>
		
<!-- aktuality -->
			
	
	
<!-- účinkující -->

		<div class="container pt-5 pb-5">
		
			<h1 class="text-center pt-5 pb-5">ÚČINKUJÍCÍ</h1>
			
				<div class="row">
					
					<div class="col-lg-6 col-md-8 col-sm-12 p-0">
						<a href="/ucinkujici-thom-artway">
						<img src="fotky/ucinkujici/thom-artway.jpg" width="100%" alt=""/>					
						<div class="overlayL"><h1>Thom Artway</h1><p>/pop</p></div>
						</a>
					</div>
					
					<div class="col-lg-6 col-md-4 col-sm-12 p-0">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 p-0">
								<a href="/ucinkujici-paprikacze">
								<img src="fotky/ucinkujici/paprikacze.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>Paprikacze</h4><p>/Alternative/indie</p></div>
								</a>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 p-0">
								<a href="/ucinkujici-slam-poetry">
								<img src="fotky/ucinkujici/slam-poetry.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>Slam poetry</h4><p>/přednes</p></div>
								</a>
							</div>
						</div>
						<div class="d-sm-none d-lg-block">
						<div class="row">
							<div class="col-lg-6 p-0">
								<a href="/ucinkujici-vi-tvor">
								<img src="fotky/ucinkujici/vi-tvor.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>vi.TVOR</h4><p>/divadlo</p></div>
								</a>
							</div>
							<div class="col-lg-6 p-0">
								<a href="/ucinkujici-cm-spica">
								<img src="fotky/ucinkujici/cm-spica.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>CM Špica</h4><p>/cimbálovka</p></div>
								</a>
							</div>
						</div>
						</div>
					</div>
					
				</div>
			
		</div>
		
		<div class="d-flex justify-content-center p-5">
			<a href="HD-web-ucinkujici.html">
				<button type="button" class="btn btn-danger"><h5>Další účinkující</h5></button>
			</a>
		</div>
		
<!-- účinkující -->
	

	
<!-- o nas 2 -->
	
	        <!-- START THE FEATURETTES -->
	<div class="bg-light">
	<div class="pt-5 pb-5">
	<div class="container pt-5 pb-5">
		<h1 class="text-center pt-5 pb-5">O FESTIVALE</h1>
        <div class="row featurette">
          <div class="col-md-7 pl-0 pr-5 pt-5">
            <p class="lead">Horem Dolem je přehlídka hudby, divadla, přednášek a workshopů pro všechny místní i přespolní návštěvníky s cílem oživit a nabídnout tomuto místu nemainstreamovou a alternativní kulturu.</p>
			<p class="lead">Autorství. Kreativita. Nadšení. To jsou stavební kameny Horem Dolem.</p>
          <a href="HD-web-o-festivale.html">
				<button type="button" class="btn btn-danger"><h5>Více</h5></button>
			</a>
		  </div>
			
          <div class="col-md-5 p-0">
            <img class="featurette-image img-fluid mx-auto" src="fotky/o-festivale/stan3.jpg" alt="Generic placeholder image">
          </div>
			
        </div>
			
      </div>
      </div>

	</div>
	
	</main>
