---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	
<!-- uvod na mobilu -->
	<div class="d-block d-lg-none">
	<div class="container">
		<div class="s-height">
		<div class="img">
		<img src="fotky/grafika/kruhy-red.png" class="center2" alt=""/>
		</div>
		<div class="text-center  pt-5">
			<h3 class="text-dark pb-1">HOREM DOLEM</h3>
			<h3 class="text-dark pb-1">3.–4. 7. 2021</h3>
			<h3>Provodov</h3>
		</div>
			</div>
	</div>
	</div>
<!-- uvod na mobilu -->
	
<!-- uvod na PC -->
	<div class="d-none d-lg-block">
		  <div id="carouselExampleFade" class="carousel slide carousel-fade pb-5 carousel-margin" data-ride="carousel">
		    
		<div class="carousel-inner" role="listbox">
			
			
	    <div class="carousel-item carousel-item-height active" data-interval="3000" style="background-image: url('fotky/slide/banner1.webp')">
				<div class="carousel-caption">
				</div>
			  </div>
			
			  <div class="carousel-item carousel-item-height" data-interval="3000" style="background-image: url('fotky/slide/banner2.webp')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			  <div class="carousel-item carousel-item-height" data-interval="3000" style="background-image: url('fotky/slide/_banner3.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			  <div class="carousel-item carousel-item-height" data-interval="3000" style="background-image: url('fotky/slide/_banner4.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
			
			  <div class="carousel-item carousel-item-height" data-interval="3000" style="background-image: url('fotky/slide/_banner5.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			  <div class="carousel-item carousel-item-height" data-interval="3000" style="background-image: url('fotky/slide/_banner6.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			  <div class="carousel-item carousel-item-height" data-interval="3000" style="background-image: url('fotky/slide/_banner7.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			  <div class="carousel-item carousel-item-height" data-interval="3000" style="background-image: url('fotky/slide/_banner8.jpg')">
				<div class="carousel-caption">
				</div>
			  </div>
				
			
			</div>
			
	  </div>
		
	<!-- prouzek -->
		<div class="container">
			<div class="text-center pb-5">
				<h5 class="text-danger pb-3">3.–4. 7. 2021 Provodov</h5>
				<h5 class="text-danger">Multižánrový festival pro všechny generace</h5>
			</div>
		</div>
	<!-- prouzek -->
	</div>
<!-- uvod na pc -->
			
			
<!-- aktuality -->	
	<div class="bg-light">
	  <div class="container pt-5 pb-5 bg-light">
		<h1 class="text-center pt-5 pb-5">AKTUALITY</h1>
		<div class="card-group">
			
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="card">
						<img src="fotky/aktuality/donio.jpg" class="card-img-top" alt="...">
							<div class="card-body">
									<h5 class="card-title">Podpořte nás</h5>
									<p class="card-text m-0"><a href="https://www.donio.cz/horemdolem" target="_blank">www.donio.cz/horemdolem</a></p>
									<p class="card-text">Přispějte nám na Doniu a možná dostanete něco naoplátku. A to se vyplatí!</p>
									<p class="card-text"><small class="text-muted"><span class="fa fa-map-pin"></span> 30. dubna 2021</small></p>
								<a href="/aktuality1"><button type="button" class="btn btn-danger"><h5>Více</h5></button></a>
							</div>
					</div>
				</div>
			
				<div class="col-md-4 col-sm-12">
					<div class="card">
						<img src="fotky/aktuality/pripravujeme.jpg" class="card-img-top" alt="...">
							<div class="card-body">
									<h5 class="card-title">Něco se chystá</h5>
									<p class="card-text">Sledujte nás, ať Vám nic neunike!</p>
									<p class="card-text"><small class="text-muted"></span> 7. dubna 2021</small></p>
							</div>
					</div>
				</div>
			
				<div class="col-md-4 col-sm-12">
					<div class="card">
						<img src="fotky/aktuality/ucinkujici.jpg" class="card-img-top" alt="...">
							<div class="card-body">
									<h5 class="card-title">Známe první účinkující!</h5>
									<p class="card-text">Neleníme a zatím vše připravujeme tak, abychom Vás na začátku července mohli přivítat na Horem Dolem 2021.</p>
									<p class="card-text"><small class="text-muted"></span> 15. března 2021</small></p>
							</div>
					</div>
				</div>
			</div>
			  
		</div>
		  
		  <div class="d-flex justify-content-center p-5">
			<a href="/aktuality">
				<button type="button" class="btn btn-danger"><h5>Další aktuality</h5></button>
			</a>
		</div>
		  
	  </div>
	  </div>
		
<!-- aktuality -->
			
	
	
<!-- účinkující -->

		<div class="container pt-5 pb-5">
		
			<h1 class="text-center pt-5 pb-5">ÚČINKUJÍCÍ</h1>
			
				<div class="row">
					
					<div class="col-lg-6 col-md-8 col-sm-12 p-0">
						<a href="/ucinkujici-thom-artway">
						<img src="fotky/ucinkujici/thom-artway.jpg" width="100%" alt=""/>					
						<div class="overlayL"><h4>Thom Artway</h4><p>/pop</p></div>
						</a>
					</div>
					
					<div class="col-lg-6 col-md-4 col-sm-12 p-0">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 p-0">
								<a href="/ucinkujici-paprikacze">
								<img src="fotky/ucinkujici/paprikacze.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>Paprikacze</h4><p>/Alternative/indie</p></div>
								</a>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 p-0">
								<a href="/ucinkujici-dh-provodovjane">
								<img src="fotky/ucinkujici/provodovjane.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>František skála a DH Provodovjané</h4><p>/surrealistická dechovka</p></div>
								</a>
							</div>
						</div>
						<div class="d-sm-none d-lg-block">
						<div class="row">
							<div class="col-lg-6 p-0">
								<a href="/ucinkujici-vi-tvor">
								<img src="fotky/ucinkujici/vi-tvor.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>vi.TVOR</h4><p>/divadlo</p></div>
								</a>
							</div>
							<div class="col-lg-6 p-0">
								<a href="/ucinkujici-slam-poetry">
								<img src="fotky/ucinkujici/slam-poetry.jpg" width="100%" alt=""/>
								<div class="overlayM"><h4>Slam poetry</h4><p>/poezie naživo</p></div>
								</a>
							</div>
						</div>
						</div>
					</div>
					
				</div>
			
		</div>
		
		<div class="d-flex justify-content-center p-5">
			<a href="/ucinkujici">
				<button type="button" class="btn btn-danger"><h5>Další účinkující</h5></button>
			</a>
		</div>
		
<!-- účinkující -->
	

	
<!-- o nas  -->
	<div class="bg-light">
	<div class="container pt-5 pb-5">
		<h1 class="text-center pt-5 pb-5">O FESTIVALE</h1>
        <div class="row featurette">
          <div class="col-md-7 pl-0 pr-5">
            <p class="lead">Horem Dolem je přehlídka hudby, divadla, přednášek a&nbsp;workshopů pro všechny místní i&nbsp;přespolní návštěvníky s&nbsp;cílem oživit a&nbsp;nabídnout tomuto místu nemainstreamovou a&nbsp;alternativní kulturu.</p>
			<p class="lead">Autorství. Kreativita. Nadšení. To jsou stavební kameny Horem Dolem.</p>
		  <div class="d-flex justify-content-center p-5">
            <a href="/o-festivale">
				<button type="button" class="btn btn-danger"><h5>Více</h5></button>
		    </a>
		  </div>
		  </div>
			
          <div class="col-md-5 p-0">
            <img class="featurette-image img-fluid mx-auto" src="fotky/o-festivale/stan.jpg" alt="Generic placeholder image">
          </div>
			
        </div>
			
      </div>
	</div>
<!-- o nas  -->
	

<!-- sponzoři  -->
	<div class="pt-5 pb-5">
	<div class="container pt-5 pb-5">
		
		<div class="row text-center">
			<div class="col-md-6">
		<h1 class="text-center pt-5 pb-5">POŘADATELÉ</h1>
			<div class="row text-center d-flex justify-content-center">
				<div class="col-md-4">
					<img src="fotky/sponzori/unart.png" width="150" class="p-2" alt="logo unart provodov">
				</div>
				<div class="col-md-4">
					<img src="fotky/sponzori/zverinec.png" width="100" class="p-2" alt="logo zvěřinec">
				</div>
			</div>
			</div>
			
			<div class="col-md-6">
		<h1 class="text-center pt-5 pb-5">SPONZOŘI</h1>
				<div class="row text-center d-flex justify-content-center">
				<div class="col-md-4">
					<img src="fotky/sponzori/provodov.png" width="80" class="p-2" alt="logo obce provodov">
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
<!-- sponzoři  -->
	
	
	</main>

<script>'.carousel').carousel({
  interval: 500
})</script>
