---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>

	<div class="container pt-5 pb-5">
		
		<h1 class="text-center pt-5 pb-5">KONTAKT</h1>
		
		<p class="lead">Chceš na festivale hrát nebo tě jen něco zajímá? Napiš nám.</p>
		<p class="lead m-0">E-mail: <b class="text-danger">info@horem-dolem.cz</b></p>
		<p class="lead">Tel: 725&nbsp;049&nbsp;158</p>
		
		<div class="row pt-5">
			
            <div class="col-sm-6 col-md-4 item text-center pb-4">
				<img src="fotky/kontakt/vaclav.jpg" class="card-img-top" alt="...">
				<h3 class="pt-4">Václav Zimmermann</h3>
				<p>ředitel festivalu</p>
			</div>
            <div class="col-sm-6 col-md-4 text-center item pb-4">
				<img src="fotky/kontakt/matej.jpg" class="card-img-top" alt="...">
				<h3 class="pt-4">Matěj Košárek</h3>
				<p>technické zázemí a line-up</p>
			</div>
            <div class="col-sm-6 col-md-4 text-center item pb-4">
				<img src="fotky/kontakt/safa.jpg" class="card-img-top" alt="...">
				<h3 class="pt-4">Ondřej Šafařík</h3>
				<p>technické zázemí</p>
			</div>
            <div class="col-sm-6 col-md-4 text-center item pb-4">
				<img src="fotky/kontakt/kristyna.jpg" class="card-img-top" alt="...">
				<h3 class="pt-4">Kristýna Sudková</h3>
				<p>média a PR</p>
			</div>
            <div class="col-sm-6 col-md-4 text-center item pb-4">
				<img src="fotky/kontakt/radim.jpg" class="card-img-top" alt="...">
				<h3 class="pt-4">Radim Prokš</h3>
				<p>grafika</p>
			</div>
            <div class="col-sm-6 col-md-4 text-center item pb-4">
				<img src="fotky/kontakt/anna.jpg" class="card-img-top" alt="...">
				<h3 class="pt-4">Anna Zimmermannová</h3>
				<p>webmaster</p>
			</div>
		
    	</div>
    </div>
	
</main>