---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	       
	<div class="container pt-5">
		<h1 class="text-center pt-5 pb-5">O FESTIVALE</h1>
	<!-- START THE FEATURETTES -->

       
	<div class="row mb-5">
        <div class="row featurette">
          <div class="col-md-6">
			  <h3 class="featurette-heading font-weight-bold">Kdo? Kamarádi.</h3>
			<h3 class="font-italic pb-3 text-danger">“Toto jsou dva kluci z&nbsp;Provodova, Matěj&nbsp;a&nbsp;Václav.”</h3>
            <p class="lead paragraph">V roce 2007 jsme uspořádali 1.&nbsp;ročník malého hudebního festivalu, tehdy pod názvem Mini Rock Fest. Za deset ročníků jsme na Provodově přivítali více než 70 uměleckých projektů nejen z&nbsp;ČR. Z&nbsp;jednodenní akce se stal dvoudenní festival a&nbsp;našel své nové místo na louce pod kopcem Rysov.</p>
			<p class="lead paragraph">V současné době tvoříme tým složený z&nbsp;nadšenců a&nbsp;dobrovolníků.</p>
          </div>
          <div class="col-md-6">
            <img src="fotky/o-festivale/druha.jpg" class="card-img-top" alt="...">
          </div>
        </div>
	</div>
       
		
	<div class="row mt-5 mb-5">
        <div class="row featurette">
          <div class="col-md-6 order-md-2">
           <h3 class="featurette-heading font-weight-bold">Co? Multižánrový festival pro všechny generace.</h3>
			<h3 class="font-italic pb-3 text-danger">“Společně cestovali a&nbsp;poznávali kulturu.”</h3>
            <p class="lead paragraph">Horem Dolem je přehlídka hudby, divadla, přednášek a&nbsp;workshopů pro všechny místní i&nbsp;přespolní návštěvníky s&nbsp;cílem oživit a&nbsp;nabídnout tomuto místu nemainstreamovou a&nbsp;alternativní kulturu.</p>
			<p class="lead paragraph">Autorství. Kreativita. Nadšení. To jsou stavební kameny Horem Dolem.</p>
          </div>
          <div class="col-md-6 order-md-1">
            <img src="fotky/o-festivale/prvni.jpg" class="card-img-top" alt="...">
          </div>
        </div>
     </div>
       
	<div class="row mb-5">
        <div class="row featurette">
          <div class="col-md-6">
			  <h3 class="featurette-heading font-weight-bold">Kde? Na Provodově.</h3>
			<h3 class="font-italic pb-3 text-danger">“Až pak, jednoho dne, tu kulturu přivezli domů...”</h3>
            <p class="lead paragraph">Obec se nachází mezi Zlínem a&nbsp;Luhačovicemi na pomezí Valašska a&nbsp;Slovácka.</p>
			<p class="lead paragraph">Mimo program festivalu zaujme i&nbsp;okolí obce. Například v&nbsp;dohledné vzdálenosti poutní kostel P.&nbsp;M.&nbsp;Sněžné, hostinec na Maleniskách nebo nedaleká zřícenina hradu Starý Světlov.</p>
          </div>
          <div class="col-md-6">
            <img src="fotky/o-festivale/treti.jpg" class="card-img-top" alt="...">
          </div>
        </div>
	</div>
       
		
    <div class="row mt-5 mb-5">
        <div class="row featurette">
          <div class="col-md-6 order-md-2">
            <h3 class="featurette-heading font-weight-bold pb-3">Kdy? V létě!</h3>
            <p class="lead paragraph">Horem Dolem pořádáme jednou za dva roky v&nbsp;prvním červencovém víkendu. Letos se bude konat 3.&nbsp;až 4.&nbsp;července 2021.</p>
          </div>
          <div class="col-md-6 order-md-1">
            <img src="fotky/o-festivale/stan.jpg" class="card-img-top" alt="...">
          </div>
        </div>
     </div>

   


        <!-- /END THE FEATURETTES -->
	</div>
	

    
</main>