---
title: Horem Dolem | Program
layout: layouts/HD.njk
---

<main>
		<div class="container pt-5 pb-5">
			<h1 class="text-center pt-5 pb-5">PROGRAM</h1>
			
		<!--	
	<p class="text-center">Program zatím není k dispozici, ale můžete se podívat, na jaké účinkující se můžete těšit.</p>
		<div class="d-flex justify-content-center p-5">
			<a href="/ucinkujici">
				<button type="button" class="btn btn-danger"><h5>Účinkující</h5></button>
			</a>
		</div>
		</div>
			-->
			
			
		<div class="row">
			<div class="col-12 p-0">
				<h2 class="text-danger mb-4">Sobota 3.&nbsp;července 2021</h2>
			</div>
		</div>
			
		<div class="row">
			
			<div class="col-md-4 col-sm-12 p-0">
				<h4 class="mb-3 mt-3">Hlavní stage</h4>
				<p class="mb-1"><b class="text-danger">14:30 </b><a href="/ucinkujici-gaia" class="text-dark"> Gaia</a></p>
				<p class="mb-1"><b class="text-danger">16:00 </b><a href="/ucinkujici-traskava-smes" class="text-dark"> Třaskavá směs</a></p>
				<p class="mb-1"><b class="text-danger">17:30 </b><a href="/ucinkujici-nina-rosa" class="text-dark"> Nina Rosa</a>
				<p class="mb-1"><b class="text-danger">19:00 </b><a href="/ucinkujici-tadeas" class="text-dark"> Tadeáš</a></p>
				<p class="mb-1"><b class="text-danger">20:30 </b><a href="/ucinkujici-elias" class="text-dark"> Elias & the Shepherds</a></p>
				<p class="mb-1"><b class="text-danger">22:00 </b><a href="/ucinkujici-paprikacze" class="text-dark"> Paprikacze</a></p>
				<p class="mb-1"><b class="text-danger">23:30 </b><a href="/ucinkujici-slepi-krovaci" class="text-dark"> Slepí křováci</a></p>
				<p class="mb-1"><b class="text-danger">00:30 </b> <a href="/ucinkujici-dj" class="text-dark">Good Mood DJ</a></p>
			</div>
	
			<div class="col-md-4 col-sm-12 p-0">
				<h4 class="mb-3 mt-3">UnArt stage</h4>
				<p class="mb-1"><b class="text-danger">17:00 </b><a href="/ucinkujici-martin-prichystal" class="text-dark"> Martin Přichystal</a></p>
				<p class="mb-1"><b class="text-danger">18:30 </b> Open mic</p>
				<p class="mb-1"><b class="text-danger">20:00 </b><a href="/ucinkujici-animovane-filmy" class="text-dark"> Animované filmy Pavly&nbsp;Baštanové</a></p>
				<p class="mb-1"><b class="text-danger">23:00 </b><a href="/ucinkujici-clifton" class="text-dark"> Clifton v blázinci</a></p>
				<!--<p class="mb-1"><b class="text-danger">21:30 </b> Operní zpěvák</p>-->
			</div>
			
			<div class="col-md-4 col-sm-12 p-0">
				<h4 class="mb-3 mt-3">V prostoru</h4>
				<p class="mb-1"><b class="text-danger">celý den </b><a href="/ucinkujici-land-art" class="text-dark"> Výstava Land art</a></p>
			</div>
		
		</div>
		
		<div class="row">
			<div class="col-12 p-0">
				<h2 class="text-danger mt-5 mb-4">Neděle 4.&nbsp;července 2021</h2>
			</div>	
		</div>	
			
		<div class="row">
			<div class="col-md-4 col-sm-12 p-0">
				<h4 class="mb-3 mt-3">Hlavní stage</h4>
				<p class="mb-1"><b class="text-danger">11:00 </b><a href="/ucinkujici-kourova-clona" class="text-dark"> Kouřová clona</a></p>
				<p class="mb-1"><b class="text-danger">12:30 </b><a href="/ucinkujici-vi-tvor" class="text-dark"> Dlouhý široký a bystrozraký</a></p>
				<p class="mb-1"><b class="text-danger">14:00 </b><a href="/ucinkujici-mers" class="text-dark"> MERS</a></p>
				<p class="mb-1"><b class="text-danger">15:30 </b><a href="/ucinkujici-michal-david" class="text-dark"> Michal&David</a></p>
				<p class="mb-1"><b class="text-danger">17:00 </b><a href="/ucinkujici-20000-zidu-pod-morem" class="text-dark"> 20 000 židů pod mořem</a></p>
				<p class="mb-1"><b class="text-danger">18:30 </b><a href="/ucinkujici-thom-artway" class="text-dark"> Thom Artway</a></p>
				<p class="mb-1"><b class="text-danger">20:30 </b><a href="/ucinkujici-dh-provodovjane" class="text-dark"> František Skála a DH Provodovjané</a></p>
				<p class="mb-1"><b class="text-danger">22:30 </b><a href="/ucinkujici-avarom-dnabseulb" class="text-dark"> avaroM dnaBseulB</a></p>
				<p class="mb-1"><b class="text-danger">00:00 </b><a href="/ucinkujici-reggay" class="text-dark"> Reggay</a></p>
			</div>
			
			<div class="col-md-4 col-sm-12 p-0">
				<h4 class="mb-3 mt-3">UnArt stage</h4>
				<p class="mb-1"><b class="text-danger">10:00 </b><a href="/ucinkujici-irena-vlckova" class="text-dark"> Nech čagan viset</a></p>
				<p class="mb-1"><b class="text-danger">12:00 </b><a href="/ucinkujici-safa" class="text-dark"> Valaši jedů do Afriky</a></p>
				<p class="mb-1"><b class="text-danger">15:00 </b><a href="/ucinkujici-pres-hranice" class="text-dark"> Přes HRAnice</a></p>
				<p class="mb-1"><b class="text-danger">16:30 </b><a href="/ucinkujici-animovane-filmy" class="text-dark"> Animované filmy Pavly&nbsp;Baštanové</a></p>
				<p class="mb-1"><b class="text-danger">18:00 </b> Vernisáž</a></p>
				<p class="mb-1"><b class="text-danger">19:30 </b><a href="/ucinkujici-slam-poetry" class="text-dark"> Slam poetry</a></p>
				<p class="mb-1"><b class="text-danger">22:00 </b><a href="/ucinkujici-cm-spica" class="text-dark"> CM Špica</a></p>
			</div>
	
			<div class="col-md-4 col-sm-12 p-0">
				<h4 class="mb-3 mt-3">V prostoru</h4>
				<p class="mb-1"><b class="text-danger">10:00 </b> <a href="/ucinkujici-ws-improvizace1" class="text-dark">Workshop jevištní spolupráce</a></p>
				<p class="mb-1"><b class="text-danger">10:00 </b> <a href="/ucinkujici-ws-improvizace2" class="text-dark">Workshop Sladká nevědomost</a></p>
				<p class="mb-1"><b class="text-danger">10:00–16:00 </b> Workshop výtvarka</p>
				<p class="mb-1"><b class="text-danger">11:30 </b><a href="/ucinkujici-jan-talas" class="text-dark"> povídání O provodovské krajině</a></p>
				<p class="mb-1"><b class="text-danger">12:30 </b><a href="/ucinkujici-ws-zpev" class="text-dark"> Workshop zpěv</a></p>
				<p class="mb-1"><b class="text-danger">13:30 a 15:30 </b><a href="/ucinkujici-suburbia" class="text-dark"> Suburbia</a></p>
				<p class="mb-1"><b class="text-danger">celý den </b><a href="/ucinkujici-land-art" class="text-dark"> Výstava Land art</a></p>
			
		</div>
</main>