---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Pan Josef</h1>
					  
					  <p class="lead m-0">Pan&nbsp;Josef je jako Diego&nbsp;Maradona.</p>
					  <p class="lead m-0">Pan&nbsp;Josef je jako Michael&nbsp;Phelps.</p>
					  <p class="lead m-0">Pan&nbsp;Josef je jako Jiří&nbsp;Raška.</p>
					  <p class="lead">Pan&nbsp;Josef má hlad.</p>
					  <p class="lead m-0">Loutková inscenace inspirovaná autorskými povídkami.</p>
					  <p class="lead m-0">Námět&nbsp;/&nbsp;scénář: Bára&nbsp;Purmová</p>
					  <p class="lead m-0">Režie: soubor</p>
					  <p class="lead m-0">Scénografie: Vendula&nbsp;Bělochová</p>
					  <p class="lead m-0">Hudba: Tereza&nbsp;Koláčková</p>
					  <p class="lead m-0">Hrají: Bára&nbsp;Purmová, Kateřina&nbsp;Císařová</p>
					  <p class="lead m-0">30&nbsp;minut</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/pan-josef.jpg" alt="Generic placeholder image">
				  </div>
			</div>
		</div>
	</div>
	
</main>