---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Thom Artway (solo)</h1>
					  
					  <a href="https://www.thomartway.com" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="https://www.facebook.com/thomartway" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/channel/UCBQppeNrqfWkgsGGK--raJw" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="https://www.instagram.com/thomartway/" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  <a href="https://open.spotify.com/artist/6dx0nnub694gK6scPI6u3C?si=MXbwt0V0Q7KJHVr6Q1ZFmw&nd=1" target="_blank" class="btn btn-social-icon"><span class="fa fa-spotify"></span></a>
					  
					  <p class="lead">Zpěvák, textař a&nbsp;kytarista Thom&nbsp;Artway patří aktuálně k&nbsp;nejuznávanějším mladým muzikantům české hudební scény. Ve své tvorbě dokonale propojuje moderní zvuk s&nbsp;klasickým písničkářstvím. Jeho skladby jsou podmanivé díky charakteristickému hlasu a&nbsp;jasně rozpoznatelným melodiím. Pro své posluchače vytváří hudebně emotivní svět s&nbsp;niternými texty. Volně se inspiruje zejména britskými písničkáři.</p>
					  <p class="lead">Sólová vystoupení pouze s&nbsp;kytarou se nesou v&nbsp;duchu intimní atmosféry, ve které dochází k&nbsp;přímé konfrontaci s&nbsp;posluchači. Bezprostřední blízkost a&nbsp;otevřenost jsou klíčovými prvky samostatných koncertů. Upřímná radost z&nbsp;hraní sdílená s&nbsp;publikem přináší vždy skvělý zážitek. Thomův projev je ryzí, radostný a&nbsp;procítěný.</p>
					  <p class="lead">Thom&nbsp;Artway se řadí do generace mladých písničkářů, kteří vyrůstali s&nbsp;kytarou v&nbsp;ruce na ulicích světových měst. Za desku Hedgehog získal Thom&nbsp;Artway hned dvě Ceny Anděl&nbsp;2016 České hudební akademie, a&nbsp;to v&nbsp;kategoriích Zpěvák roku a&nbsp;Objev roku. Zdroj:&nbsp;www.thomartway.com</p>
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/thom-artway.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/LLklH8cwUi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>