---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Povídky nech čagan viset</h1>
					  <h1 class="featurette-heading text-secondary">Irena Vlčková</h1>
					  
					  <p class="lead">současná hudebně-literární show ve valašském duchu "NÁŘEČÍ is NOT dead"</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/irena-vlckova.jpg" alt="Generic placeholder image">
				  </div>
			</div>
		</div>
	</div>
	
</main>