---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Nina Rosa</h1>
					  
					  <a href="https://www.facebook.com/ninarosaband" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/playlist?list=PLw5dlO00KGp_crzRDEzG7bsAY0kBFnsvw" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="https://www.instagram.com/ninarosaband/" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  <a href="https://open.spotify.com/artist/76jxbV1NzBvmVMCYZNLSmq" target="_blank" class="btn btn-social-icon"><span class="fa fa-spotify"></span></a>
					  
					  <p class="lead">Nina Rosa je název hudebního tria, které založila zpěvačka a&nbsp;houslistka Nina&nbsp;Marinová a&nbsp;tvoří ho akordeonista Michal&nbsp;Mihok a&nbsp;kytarista Antonín&nbsp;Dlapa. V tvorbě kombinuje jazz, swing, reggae, folk a&nbsp;hrají v různých jazicích.</p>
					  <p class="lead">V roce 2017 získali nominaci v kategorii "Nejlepší skupina roku" ceny _Head&nbsp;Awards. Jejich debutové album z&nbsp;minulého roku si vysloužilo tři nominace na ceny Radio_Head Awards. Album charakterizuje nevšední vynelézavost, zvukové experimenty a&nbsp;hudební rozmanitost. </p>
					  <p class="lead"></p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/nina-rosa.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/MXWB9kiti1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>