---
title: Horem Dolem | Kouřová clona
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Kouřová clona</h1>
					  
					  <a href="https://www.facebook.com/KourovaClona" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Jsme Kouřová clona a&nbsp;hrajeme již od roku 1989. Po kratším vorazu jsme se opět na světovou scénu vrátili v&nbsp;roce 2018. Hudba se stala naším chlebem a&nbsp;vínem. Pošleme do vás průřez hudební historie, naše inspirace počínají Bachem, a&nbsp;končí u&nbsp;Petra Válka. Bylo nás skoro pět, už jsme čtyři.</p>
					  <p class="lead m-0">Martin&nbsp;Lysoněk – Kytara, zpěv</p>
					  <p class="lead m-0">Jan&nbsp;Stržínek – Klávesové nástroje</p>
					  <p class="lead m-0">Jan&nbsp;Julínek – Bicí</p>
			  		  <p class="lead">Martin&nbsp;Lapčík – Basová kytara, zpěv</p>
					  <p class="lead">Pořádně se přivažte, abyste tuhle jízdu zvládli.</p>
					  <p class="lead">Jazz!</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/kourova-clona.jpg" alt="Kouřová clona účinkující Horem Dolem 2021">
				  </div>
			</div>
		</div>
	</div>
	
</main>