---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Mára a Šráma</h1>
					  
					   <p class="lead">Celým festivalem nás bude provázet osvědčená moderátorská dvojice ze Zlínského divadla a z legendární kapely Franc Alpa.</p>
					   <p class="lead">Marek Příkazký a Martin Šramka</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/moderatori.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				
			</div>
		</div>
	</div>
	
</main>