---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Elias & the Shepherds</h1>
					  
					  <a href="https://www.facebook.com/elias.shepherds" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/channel/UCVbHW5f4jjqgW2wtYx-FaRg" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="https://www.instagram.com/elias_shepherds/" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  <a href="https://open.spotify.com/album/5SDF0qpkWfV5mOs6UrUs5Z" target="_blank" class="btn btn-social-icon"><span class="fa fa-spotify"></span></a>
					 
					  <p class="lead">Autentická "fresh-folková" kapela, která se vám zaryje pod kůži a&nbsp;přenese vás do Irska. Právě tradiční irskou hudbou a&nbsp;světovým folkem jsou Elias&nbsp;&&nbsp;the&nbsp;Shepherds a&nbsp;jejich tvorba ovlivněni.</p>
					  <p class="lead">S&nbsp;kytarou vystupuje zpěvák a&nbsp;frontman kapely Eliáš&nbsp;Jeřábek, melodie dotváří zkušený houslista Filip&nbsp;Kottek, charismatický kytarista a&nbsp;bubeník Iby&nbsp;Pop a&nbsp;folkový zážitek dále doplňuje kontrabas. Kapela vznikla v&nbsp;létě roku 2018 a&nbsp;na podzim minulého roku vydala své první album.</p>
					  <p class="lead">Elias a&nbsp;ovčáci, protože neexistuje nic silnějšího než láska mezi člověkem a&nbsp;psem. Takto silné emoce lze pocítit i&nbsp;při poslechu Elias&nbsp;&&nbsp;the&nbsp;Shepherds.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/elias2.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/W65JqNJDUnk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>