---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">vi.TVOR: Dlouhý široký a bystrozraký</h1>
					  
					  <a href="https://www.facebook.com/skupina.vi.tvor/" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Princ Dřevomír se má stát králem. Jenže vládnout sám není jednoduché, a&nbsp;proto se musí oženit. Zamiluje se do princezny Jůvívíjů, ale ta je zakletá zlým černokněžníkem. A&nbsp;tak se princ Dřevomír vydává na Železný zámek zachránit nejen svou nevěstu, ale celé království.</p>
					  <p class="lead">Loutková pohádka Dlouhý,Široký a&nbsp;Bystrozraký se hraje s&nbsp;dřevěnými totemovými loutkami, které jsou inspirované poetikou výtvarníka Zbyňka Sekala.</p>
					  <p class="lead">“Šli dva, šli tři. Vlastně šli čtyři a&nbsp;ještě kůň k tomu. Šli dlouho, šli lesem. A&nbsp;kam došli? Do Železného zámku!”</p>
					  <p class="lead mb-0">Tvůrčí tým: Alžběta&nbsp;Vitvarová, René&nbsp;Vitvar, Lukáš&nbsp;Bouzek, Štěpán&nbsp;Lustyk</p>
					  <p class="lead mb-0">Hrají: René&nbsp;Vitvar, Lukáš&nbsp;Bouzek, Štěpán&nbsp;Lustyk,</p>
					  <p class="lead mb-0">Alternace: Milan&nbsp;Vedral</p>
					  <p class="lead">Fotografie: Lukáš&nbsp;Hamáček</p>
					  
			
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/vi-tvor.jpg" alt="Generic placeholder image">
				  </div>
				
				<iframe src="https://player.vimeo.com/video/386455503" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
				
			</div>
		</div>
	</div>
	
</main>