---
title: Horem Dolem | Reggay
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Reggay</h1>
					  
					  <a href="https://www.reggay.cz/?fbclid=IwAR1QZ3M7V7dETXhcCKpADF2Y5kwdCcmducX3jsYle8ZyHlkHur1RJ2-0pkE" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="https://www.facebook.com/Reggayofficial/" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.instagram.com/reggayofficial/" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  
					  <p class="lead">Reggay je osmičlenná dávka reggae z&nbsp;Moravy a&nbsp;Rumunska. Kapela působí na scéně více jak 10 let a&nbsp;za sebou má několik stovek koncertů. Poslední dobou míří často a&nbsp;s&nbsp;oblibou za hranice české republiky. Za sebou má kapela čtvrté studiové působení nicméně cd nevydává a&nbsp;raději šetří lesy. Reggay má rád lidi, co mají rádi Reggay. Reggay nemá dready a&nbsp;moc toho nenahulí. Reggay má rád slivovicu, karibský rum a&nbsp;když někdo jiný šoféruje. Na stagi vypadá Reggay spíš jako na demonstraci, ovšem jen do doby než zazní první tóny jejich tvorby. - Cross Praha</p>
					  <p class="lead">Recenze:<a href=" https://www.reggae.cz/report/reggay-zrodila-se-hvezda/?fbclid=IwAR2EnWZAB8BoD5_NNsUQSrWoDD6yx1XJDer_I42hWfRAhwRQBS55PrmCLMg" target="blank" class="text-danger"> reggae.cz</a></p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/reggay.jpg" alt="Raggay účinkující Horem Dolem Provodov 2021">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/2yAjvLPb4Jg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>