---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Co je to Slam Poetry?</h1>
					  
					  <a href="http://slampoetry.cz/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="https://www.facebook.com/slampoetry/" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">“Stát se textem!” (B. Bláhovec). Slam poetry nelze zaměňovat s autorským čtením či recitační soutěží. Autoři-performeři se zaměřují na to, CO sdělují a JAK to sdělují. Ideálním případem je výraz, který stojí na pomezí poezie a divadla. Důležitá je přitom hlavně komunikace s diváky. Do hry přichází i mimika, výraz, pohyb, rytmus i sdělení textu.</p>
					  <p class="lead mb-0">Základní slamová pravidla celostátní soutěže v ČR jsou:</p>
					  <p class="lead mb-0">1/ vlastní text</p>
					  <p class="lead mb-0">2/ časový limit 3 min.</p>
					  <p class="lead mb-0">3/ žádné rekvizity</p>
					  <p class="lead">(Zdroj: slampoetry.cz)</p>
					  <p class="lead">Jména vystupujících brzy zveřejníme.</p>
					  
			
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/slam-poetry.jpg" alt="slam poetry">
				  </div>
				
			</div>
		</div>
	</div>
	
</main>