---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">CM Špica</h1>
					  
					  <a href="https://www.facebook.com/cimbalovamuzikaspica/" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/channel/UC5nbyeWspT3WptBGoOzKMOg" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  
					  <p class="lead">Mladá cimbálová muzika ze Starého Města hrající pro potěšení všeho lidu a&nbsp;nakonec i&nbsp;pro ně samotné.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/cm-spica2.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/BStYAgxUbt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>