---
title: Horem Dolem | avaroM dnaBseulB
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">avaroM dnaBseulB</h1>
					  
					  <a href="https://www.facebook.com/kapelaavarom" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/channel/UCXnVOogsoew0VfLHcNAPEzw" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="https://www.instagram.com/avarom_dnabseulb/" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  
					  <p class="lead">Jsme zlínská bluesrocková kapela avaroM&nbsp;dnaBseulB složená ze tří svůdných kytaristů, šíleného basáka a&nbsp;ukrutného bubeníka. A&nbsp;stejně svůdně, šíleně a&nbsp;ukrutně hrajeme ty největší pecky 60.&nbsp;a&nbsp;70.&nbsp;let - od klasiky Neila&nbsp;Younga přes profláklé Lynyrd&nbsp;Skynyrd nebo woodstockový nářez v podobě Canned&nbsp;Heat až po rockové bohy z&nbsp;kapely Cream. S&nbsp;námi se na Horem&nbsp;Dolem vžijete do té pravé hippie nálady!</p>
					  <p class="lead">Těšíme se na vás!</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/avarom-dnabseulb2.jpg" alt="avaroM dnaBseulB účinkující Horem Dolem 2021">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/N4ffLCSDHp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>