---
title: Horem Dolem | Tadeáš
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Tadeáš</h1>
					  
					  <p class="lead">Kapela Tadeáš vznikla na přelomu let 2020 a&nbsp;2021. Jejími členy jsou čtyři dlouholetí přátelé, které po mnoha letech a&nbsp;společných zážitcích konečně napadlo mít i&nbsp;společnou kapelu.</p>
					  <p class="lead">Kapela Tadeáš hraje vlastní písně především z&nbsp;pera Anny&nbsp;Olejníkové. Svou tvorbou však obohacují repertoár i&nbsp;Bára&nbsp;Purmová a&nbsp;Kateřina&nbsp;Císařová. Jejich písně jsou velmi rozmanité a&nbsp;různorodé, od něžných folkových až po tvrdé rockové. Žánrové rozkročení kapely je tedy skutečně široké. Hudba se vyznačuje neotřelými riffy a&nbsp;zajímavými aranžemi bez strachu experimentovat nejen s&nbsp;atypickými rytmy. Kapela Tadeáš dokáže zaujmout emocemi nabitými texty díky výrazovému až hereckému projevu hlavních protagonistek, které jsou mimo jiné spolužačkami z&nbsp;pražské DAMU.</p>
					  <p class="lead m-0">Anna&nbsp;Olejníková – zpěv, baskytara, příčná flétna</p>
					  <p class="lead m-0">Kateřina&nbsp;Císařová – zpěv, kytara, baskytara</p>
					  <p class="lead m-0">Bára&nbsp;Purmová – zpěv, kytara</p>
					  <p class="lead m-0">Jakub&nbsp;Svoboda – bicí</p>
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/tadeas.jpg" alt="Generic placeholder image">
				  </div>
			</div>
		</div>
	</div>
	
</main>