---
title: Horem Dolem | Slepí křováci
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Slepí křováci</h1>
					  
					  <a href="https://www.facebook.com/slepikrovaci" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Jen hluchý by tuto "nevidomou" kapelu mohl přehlédnout. Hudba Slepých Křováků se těžko popisuje, jejich originální průsečík hudební scénou je jen těžko představitelný. Roztančí vás divokou rytmikou, podmaní mysticky znějícími tóny vibrujícího didgeridaa, rozesměje vtipnými texty a&nbsp;rozburácí v&nbsp;srdci rock´n´rollovými kytarovými riffy.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/slepi-krovaci.jpg" alt="Slepí křováci účinkující Horem Dolem 2021">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/cwFiJX1Zdw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/USpk0KQivgY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			
		</div>
	</div>
	
</main>