---
title: Horem Dolem | 20 000 židů pod mořem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">20 000 židů pod mořem</h1>
					  
					  <a href="https://www.facebook.com/20000zidu" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/channel/UCHtERisKJF0AyU1ZL9bItZw" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="https://www.instagram.com/20000zidupodmorem/" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  
					  <p class="lead">Skupina s&nbsp;tímto podivným DADA názvem objíždí nejrůznější letní festivaly, ale i&nbsp;kamenná divadla v&nbsp;Praze. Svá představení začínají z&nbsp;bodu nula. To znamená, že se věnují především volné improvizaci, kdy herci nemají dopředu nic domluveného ani připraveného – vše tedy vzniká z&nbsp;aktuální nálady diváků, denní doby, napojení samotných členů a&nbsp;z&nbsp;prostředí, ve kterém se představení odehrávají.</p>
					  <p class="lead">Hrají: Ladislav&nbsp;Karda, Eliáš&nbsp; Jeřábek, Alžběta&nbsp;Nováková, Pavla&nbsp;Sedláčková, Jáchym&nbsp;Sůra, Václav&nbsp;Zimmermann, Tanita&nbsp;Yankova&nbsp;(hudba)</p>
					  <h3 class="font-italic pb-3 text-danger">Členové této skupiny povedou taktéž nedělní workshopy.</h3>
					  <p class="lead">“...představení je nabité vtipnými scénkami. Přestože si divák chvílemi klade otázku, zda se neocitl v&nbsp;ústavu pro duševně choré, koutky úst se mi roztahují do úsměvu ještě dlouho poté, když jdu po ulici domů. Tahle povedená partička umělců dovedla absurdní situace k naprosté dokonalosti. Kdo chceš, odsuzuj tento jejich styl, ale jedno se upřít nedá: baví se herci i&nbsp;diváci po celou dobu představení a&nbsp;mé hodnocení je vlastně plné superlativů.” Eva&nbsp;Smolíková, Taneční&nbsp;magazín</p>
					  <p class="lead">“... sledujete zcela sehranou skupinu, vypadá vše až příliš snadně, samozřejmě, v&nbsp;případě tohoto spolku si můžete užít jak radost z&nbsp;toho, když to šlape, tak občas i&nbsp;"nahlédnout do zákulisí", uvědomit si, co improvizace obnáší, že jde o&nbsp;balancování nad propastí a&nbsp;uklouznutí je možné, důležité je se v&nbsp;takovém případě zase vyškrábat nahoru.” Jiří&nbsp;Koula, i-divadlo.cz</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/20000-zidu-pod-morem.jpg" alt="20 000 židů pod mořem účinkující Horem Dolem 2021">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>