---
title: Horem Dolem | MERS
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">MERS</h1>
					  
					  <a href="https://www.mersband.com/?fbclid=IwAR1NZHXXLVBjh_whJ8CJa6m5XyHreZJIqB05q-9o-rX1m6wby5ZLQO_PUBc" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="https://www.facebook.com/kapelamers" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/channel/UCHcO2dQ-XQDh0_7CYvF-_QQ" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  
					  <p class="lead">My jsme MERS&nbsp;-&nbsp;kapela ze Zlína, která s&nbsp;láskou hraje vlastní hudbu a&nbsp;nerada se škatulkuje do hudebního stylu. Naše hudba je různorodá od pop/rocku až po alternativní směry.</p>
					  <p class="lead">Mezi naše největší úspěchy patří soundtrack k&nbsp;filmu INTIMITY režiséra Iva&nbsp;Macharáčka a&nbsp;scénaristy Evžena&nbsp;Gogely (Tajemství staré bambitky), kde jsme se objevili spolu s&nbsp;hvězdami jako je Tomáš&nbsp;Klus, Ondřej&nbsp;Vetchý, Zlata&nbsp;Adamovská, Petr&nbsp;Štěpánek, Jaroslav&nbsp;Plesl, Kristýna&nbsp;Leichtová, Martin&nbsp;Stránsky,&nbsp;aj. Dalším úspěchem je umístění v&nbsp;hitparádě Startér rádia Wave, kde se kapela udržela celých 5&nbsp;týdnů. Naše zpěvačka Eliška se navíc autorky podílela na filmu Tajemství staré bambitky a&nbsp;spolupracuje i&nbsp;na vznikajícím pokračování. Hraní nás fakt baví a&nbsp;jsme rádi za  příležitosti. Momentálně kapela koncertuje jak divá, nahrává nové písničky a&nbsp;chystá vydání klipu.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/mers.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/kWr0pQe9ME8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>