---
title: Horem Dolem | Valaši jedů do Afriky
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Valaši jedů do Afriky</h1>
					  <h1 class="featurette-heading text-secondary">aneb Vyprávjání dvů ogarů o tom jak jeli do Sierra Leone</h1>
					  
					  <a href="https://www.valasi-jedu-do-afriky.cz/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
   				      <a href="https://www.facebook.com/Vala%C5%A1i-jed%C5%AF-do-Afriky-112081847013350/" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">V&nbsp;lednu 2020 startovali dva šohaji z&nbsp;okolí Vizovic v&nbsp;největším amatérském závodu typu Dakar. S&nbsp;upraveným závodním speciálem Peugeot&nbsp;106 moseli zdolat trasu z&nbsp;Budapešti přes Evropu, Maroko, Západní Saharu, Senegal, Guineu až do města Freetown v&nbsp;Sierra Leone. Jak to všechno dopadlo a&nbsp;co tomu předcházalo? Proč tam vůbec jeli a&nbsp;co tam dělali? Toto všecko a&nbsp;mnohem víc sa možeš dozvědět na Horem Dolem!</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/safa2.jpg" alt="Generic placeholder image">
				  </div>
			</div>
		</div>
	</div>
	
</main>