---
title: Horem Dolem | Paprikacze
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Paprikacze</h1>
					  <h1 class="featurette-heading text-secondary">(Red Hot Chili Peppers revival)</h1>
					  
					  <a href="http://rhcprevival.com/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="https://www.facebook.com/PAPRIKACZE" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/user/revivalRHCP" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="https://www.instagram.com/paprikacze_rhcprevival" target="_blank" class="btn btn-social-icon"><span class="fa fa-instagram"></span></a>
					  
					  <p class="lead">Paprikacze je TOP český revival kalifornských Red Hot Chili Peppers. Kapela působí na scéně přes 10&nbsp;let&nbsp;a za tu dobu si skupina získala mnoho příznivců v&nbsp;ČR, ale i&nbsp;v&nbsp;zahraničí. Paprikacze často koncertují v&nbsp;Německu, ale mají za sebou i&nbsp;unplugged tour po Mexiku, Kolumbii a&nbsp;Kapverdských ostrovech.</p>
					  <p class="lead">Skupina se zformovala na základech legendárního Red Hot Chili Peppers revivalu z&nbsp;Jindřichova Hradce. Sestava v&nbsp;roce 2009 omladila a&nbsp;pod názvem PAPRIKACZE přebrala štafetu skvělé interpretace písní kalifornských Red Hotů.</p>
					  <p class="lead">Koncert je průřezem celou tvorbou RHCP, výbuchem energie, hráčské virtuozity a&nbsp;velmi věrného pocitu z&nbsp;hudby Red Hot Chili Peppers.</p>
					  <p class="lead">Kapela má autentický zvuk a&nbsp;pódiový projev, včetně kostýmů. (Zdroj: PAPRIKACZE)</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/paprikacze2.jpg" alt="Generic placeholder image">
					
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/YsTDe_Hi00E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>