---
title: Horem Dolem | Sborový zpěv s Tanitou Yankovou
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Workshop: sborový zpěv s&nbsp;Tanitou Yankovou</h1>
					  
					  
					  <p class="lead">Přijďte se seznámit s&nbsp;východními tradicemi. Společně s&nbsp;Tanitou, která je původem z&nbsp;Bulharska, zažijete nejrůznější hlasová cvičení a&nbsp;na závěr secvičíte vícehlasé lidové bulharské písně.</p>
					  <p class="lead">Dílna je max. pro 8&nbsp;lidí. Zaregistruj se na <b class="text-danger">info@horem-dolem.cz</b>. Do předmětu napiš: Workshop&nbsp;Tanita. Malá zkušenost se zpěvem výhodou.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto pb-5" src="fotky/ucinkujici/ws-zpev.jpg" alt="workshop Zpěv s Tanitou Yankovou účinkující Horem Dolem 2021">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>