---
title: Horem Dolem | Michal&David
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Michal&David</h1>
					  
   				      <a href="https://www.facebook.com/michaletdavid/" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Angažované synt-popové duo Michala a&nbsp;Davida, kamarádů, umělců a&nbsp;učitelů z&nbsp;Hané a&nbsp;Broumovska.</p>
					  <p class="lead m-0">Michal&David byli objeveni v&nbsp;druhém desetiletí tohoto století Martinem H'rychem, majitelem Haagského labelu DinkyWell v&nbsp;počátcích jejich koncertního vystupování v&nbsp;na jednom z&nbsp;mnoha statků, které se dají v&nbsp;Broumovském výběžku navštívit. Dravý angažovaný synt-pop tehdy nizozemského hudebního agenta natolik zaujal, že se rozhodl s&nbsp;kapelou absolvovat i&nbsp;turné po statcích Hanáckých a&nbsp;nakonec ji pozval i&nbsp;do svého studia v&nbsp;přímořském městě Haag. Tam kapela natočila několik singlů (Zkrášlovadla, Léto, Pravda). V podstatě hned po jejich vypuštění se kapela stala v&nbsp;Nizozemsku velmi populární a&nbsp;její singly se po několik týdnů držely v&nbsp;čele rádiových hitparád. Teď se Michal&David chtějí zaměřit na českou scénu a&nbsp;tak našli cestu i na Provodovský festival Horem Dolem.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/michal-david.jpg" alt="Generic placeholder image">
				  </div>
				
				</div>
			
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/87A7KhOfHXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
				
			
		</div>
	</div>
	
</main>