---
title: Horem Dolem | Suburbie
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Suburbia</h1>
					  
					  <a href="https://www.facebook.com/suburbiaperformance" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Suburbia je performativní taneční procházka městem a&nbsp;krajinou pro dvě skupiny po patnácti účastnících. Každá skupina je provázena jedním performerem a&nbsp;zvukem a&nbsp;společně vytváří průvod. Diváci jsou vedeni k&nbsp;tomu, aby znovu objevovali místa, která možná znají, a&nbsp;zažívali je novým způsobem a&nbsp;aby ve všednosti objevovali nové a&nbsp;krásné. Cílem Suburbie je dovést každého účastníka k&nbsp;tomu, aby se stal divákem vlastního města, vlastní ulice a&nbsp;vlastní krajiny.</p>
					  <p class="lead m-0">Potřebujete: pohodlné boty, chytrý telefon, sluchátka. Nemáte-li z něco z výše uvedeného, obraťte se na nás předem na email:</p>
						  <p class="lead">tomas.koci.a.tak.dale@gmail.com</p>
					  <p class="lead">Workshop je určen pro 30 lidí. Chcete-li se ho účastnit, přihlaste se přes <a href="https://docs.google.com/forms/d/e/1FAIpQLSc4QPtd-JGZLm5zx1m-3VthLxsr_R_rc2BOCKC8sJaXnEoRgw/viewform" target="blank" class="text-danger">folmulář</a>.</p>
					  	  <p class="lead m-0">koncept, režijní vedení: Jana&nbsp;Stárková</p>
					  	  <p class="lead m-0">sound design: Aid&nbsp;kid</p>
					      <p class="lead m-0">živá hudba: David&nbsp;Herzig</p>
					      <p class="lead m-0">kostýmy: Karolína&nbsp;Kotrbová, Jana&nbsp;Stárková</p>
					      <p class="lead m-0">vedení workshopů: Tomáš&nbsp;Žižka, Jakub&nbsp;Vaverka</p>
					      <p class="lead m-0">performeři: Eva&nbsp;Urbanová, Adéla&nbsp;Voldrábová</p>
					      <p class="lead m-0">produkce: Tomáš&nbsp;Kočí</p>
					      <p class="lead m-0">grafika: Vojtěch&nbsp;Kočí</p>
						  <p class="lead m-0">trailer, video: <a href="https://martinkubalec.cz" target="_blank" class="text-danger">martinkubalec.cz</a></p>
						  <p class="lead">produkční spolupráce: Damaris&nbsp;Kopecká</p>
					  <p class="lead">Projekt vznikl za podpory MHMP, MK, AMU, DAMU, Jatka&nbsp;78, Art&nbsp;Disktrikt&nbsp;7</p>
					  
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/suburbia2.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe src="https://www.facebook.com/plugins/video.php?height=420&href=https%3A%2F%2Fwww.facebook.com%2Fsuburbiaperformance%2Fvideos%2F3042236715841609%2F&show_text=false&width=560" width="560" height="420" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
			</div>
		</div>
	</div>
	
</main>