---
title: Horem Dolem | Suburbie
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Suburbie</h1>
					  
					  <a href="https://www.facebook.com/suburbiaperformance" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Suburbia je performativní taneční procházka městem a krajinou pro dvě skupiny po patnácti účastnících. Každá skupina je provázena jedním performerem a zvukem a společně vytváří průvod. Diváci jsou vedeni k tomu, aby znovu objevovali místa, která možná znají, a zažívali je novým způsobem a aby ve všednosti objevovali nové a krásné. Cílem Suburbie je dovést každého účastníka k tomu, aby se stal divákem vlastního města, vlastní ulice a vlastní krajiny.</p>
					  <p class="lead">Potřebujete: pohodlné boty, chytrý telefon, sluchátka. Nemáte-li z něco z výše uvedeného, obraťte se na nás předem na email: tomas.koci.a.tak.dale@gmail.com</p>
						 <p class="lead">koncept, režijní vedení: Jana Stárková</p>
						  <p class="lead">sound design: Aid kid</p>
						  <p class="lead">živá hudba: David Herzig, Kryštof Záveský</p>
						  <p class="lead">kostýmy: Karolína Kotrbová, Jana Stárková</p>
						  <p class="lead">vedení workshopů: Tomáš Žižka, Jakub Vaverka</p>
						  <p class="lead">performeři: Lukas Blaha, Šimon Pliska, Johana Pocková, Eva Urbanová, Andrea Vykysalá</p>
						  <p class="lead">produkce: Tomáš Kočí</p>
						  <p class="lead">grafika: Vojtěch Kočí</p>
						  <p class="lead">trailer, video: https://martinkubalec.cz</p>
						  <p class="lead">produkční spolupráce: Damaris Kopecká</p>
					  <p class="lead">Projekt vznikl za podpory MHMP, MK, AMU, DAMU, Jatka 78, Art Disktrikt 7</p>

					  <p class="lead">V roce 2017 získali nominaci v kategorii "Nejlepší skupina roku" ceny _Head&nbsp;Awards. Jejich debutové album z&nbsp;minulého roku si vysloužilo tři nominace na ceny Radio_Head Awards. Album charakterizuje nevšední vynelézavost, zvukové experimenty a&nbsp;hudební rozmanitost. </p>
					  <p class="lead"></p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/nina-rosa.jpg" alt="Generic placeholder image">
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/MXWB9kiti1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>