---
title: Horem Dolem
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">František Skála a DH&nbsp;Provodovjané</h1>
					  
					  <a href="http://www.provodovjane.cz/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
   				      <a href="https://www.facebook.com/DHProvodovjane/" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  
					  <p class="lead">Provodovská dechovka tak, jak ji ještě nikdo, nikdy, nikde neviděl. Světová premiéra.</p>
					  <p class="lead m-0">V&nbsp;pětašedesáti letech vydává výtvarník, hudebník a&nbsp;performer František&nbsp;Skála hned dvě debutová alba. Jedno se jmenuje Debut, druhé Pojď se mnou děvče mé a&nbsp;spolupracoval na něm s dechovou hudbou Provodovjané. Specifickým pojetím autorských písní vytváří nový styl surrealistické dechovky. Jak František říká: jedná se o&nbsp;nový žánr, pro který je neprve třeba vytvořit cílovou skupinu.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/provodovjane2.jpg" alt="Generic placeholder image">
				  </div>
				
				<script>if(typeof(window.jsScriptOutputted)=="undefined"){var jsScriptOutputted=true;var jsScript=document.createElement("script");jsScript.type="text/javascript";jsScript.src="https://vltava.rozhlas.cz/sites/all/libraries/responsive-external-embeds/cro_responsiveexternalembeds.min.js";jsScript.onload=function(){};document.head.appendChild(jsScript);}</script><iframe name="embed-8452866" class="cro-embed__parent" frameBorder="0" scrolling="no" allowfullscreen src="https://vltava.rozhlas.cz/cro_soundmanager/files/8452866/field_main_audio"></iframe>
				
			</div>
		</div>
	</div>
	
</main>