---
title: Horem Dolem | Open mic
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Open mic</h1>
					  
					  
					  <p class="lead">Máš chuť ostatním ukázat svůj talent? Nestyď se a&nbsp;předveď co umíš! Open mic bude k&nbsp;dispozici v&nbsp;sobotu v&nbsp;18:30 hod.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto pb-5" src="fotky/ucinkujici/open-mic.jpg" alt="Open mic účinkující Horem Dolem 2021">
				  </div>
			</div>
			
		</div>
	</div>
	
</main>