---
title: Horem Dolem | Paprikacze
layout: layouts/HD.njk
---

<main>
	<div class="odsazeni">
		<div class="container">
			<div class="row featurette">
				  <div class="col-md-7 pl-0 pr-4">
					  <h1 class="featurette-heading">Gaia</h1>
					  
					  <a href="https://gaiaotrokovice.webnode.cz/" target="_blank" class="btn btn-social-icon"><span class="fa p-0"><p class="m-0">www</p></span></a>
					  <a href="https://www.facebook.com/gaiaotrokovice" target="_blank" class="btn btn-social-icon"><span class="fa fa-facebook"></span></a>
					  <a href="https://www.youtube.com/channel/UCLMMQJbyjZQOzyEV6EAYvxw" target="_blank" class="btn btn-social-icon"><span class="fa fa-youtube"></span></a>
					  <a href="https://open.spotify.com/artist/12hnYYGwdK0hyCrybHauax?si=fT1RfQVgQ0mlT-iu4N85Vg" target="_blank" class="btn btn-social-icon"><span class="fa fa-spotify"></span></a>
					  
					  <p class="lead">Otrokovicko-zlínská kapela s vlastní tvorbou byla založena roku 1992. Název kapely GAIA je odvozen z řečtiny a znamená bohyně nebo také Země. Od roku 2020 působí v novém šestičlenném obsazení:</p>
					  <p class="lead m-0">Bára Havelková - zpěv,</p>
					  <p class="lead m-0">Vladan Vavruša - kytara,</p>
					  <p class="lead m-0">Milan Koplík - baskytara,</p>
					  <p class="lead m-0">Libor Školný - bicí a zpěv,</p>
					  <p class="lead m-0">Filip Doležal -klávesy,</p>
					  <p class="lead">Pavel Martinka - kytary.</p>
					  <p class="lead">Kapela se od začátku orientuje na vlastní rockovou tvorbu, několikrát nahrávala ve studiích a vydala CD Zbylo jen málo a Ohlédnutí.</p>
					  <p class="lead">Album Gaia - Druhá múza vyšlo na konci roku 2020 a obsahuje výhradně autorské písničky kapely. Zahrnuje celkem osm skladeb, z toho jedna je instrumentální. Písně jsou pojetím velmi pestré, žánrově rozprostřené od rocku až k popu. Texty se zabývají vztahy mezi partnery, emocemi nebo třeba osudovými křižovatkami, na které se někdy dostává každý z nás. Hlavním atributem alba je ale pohodová muzika, ze které je cítit radost z hraní a tvorby vlastní hudby. Album bylo natočeno a masterováno ve studiu BiteHazard v Topolné.</p>
					  
				  </div>
				  <div class="col-md-5 p-0">
					<img class="featurette-image img-fluid mx-auto" src="fotky/ucinkujici/gaia2.jpg" alt="Generic placeholder image">
					
				  </div>
			</div>
			<div class="row featurette pt-5">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/TZ1uxDNsybk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
</main>